# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        63
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        101
        97
        118
        101
        115
        63
        99
        104
        101
        99
        107
        95
        100
        101
        99
        97
        121
        61
        102
        97
        108
        115
        101
        38
        100
        101
        99
        97
        121
        97
        98
        108
        101
        61
        116
        114
        117
        101
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        88
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -80
        71
        22
        -55
        73
        77
        44
        75
        45
        -74
        79
        -50
        72
        77
        -50
        -114
        79
        73
        77
        78
        -84
        -76
        77
        75
        -52
        41
        78
        85
        3
        -77
        19
        -109
        114
        82
        109
        75
        -118
        74
        83
        -43
        -54
        18
        -117
        50
        19
        -13
        74
        108
        -13
        19
        -77
        25
        14
        48
        113
        -4
        97
        0
        1
        113
        6
        0
        59
        125
        32
        10
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


